.navbar-custom 
{ 
    background-color: #FFB5E8; 
} 


/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text 
{ 
    color: white; 
} 
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
